{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
<div class="container">

    <div class="content">

        <div class="logo">
            <h2>
                {{ PROJECT_LOGO_IMAGE }}
            </h2>
        </div>

        <form action="/analytics">
            <div class="form">
                <div class="form-items">
                    <div class="input-wrap">
                        <label for="la_summoner-name">Summoner name:</label>
                        <input id="la_summoner-name" name="account" placeholder="Summoner name" type="text">
                    </div>
                    <div class="input-wrap">
                        <label for="la_region">Region:</label>
                        <select id="la_region" name="region">
                            <option value="BR1" {% if region == 'BR1' %} selected {% endif %}>Brazil</option>
                            <option value="EUN1" {% if region == 'EUN1' %} selected {% endif %}>EU Nordic &amp; East</option>
                            <option value="EUW1" {% if region == 'EUW1' %} selected {% endif %}>EU West</option>
                            <option value="JP1" {% if region == 'JP1' %} selected {% endif %}>Japan</option>
                            <option value="LA1" {% if region == 'LA1' %} selected {% endif %}>Latin America (North)</option>
                            <option value="LA2" {% if region == 'LA2' %} selected {% endif %}>Latin America (South)</option>
                            <option value="NA1" {% if region == 'NA1' %} selected {% endif %}>North America</option>
                            <option value="OC1" {% if region == 'OC1' %} selected {% endif %}>Oceania</option>
                            <option value="RU" {% if region == 'RU' %} selected {% endif %}>Russia</option>
                            <option value="TR1" {% if region == 'TR1' %} selected {% endif %}>Turkey</option>
                        </select>
                    </div>
                </div>
                <div class="submit-wrap">
                    <input type="submit" value="Find">
                </div>
            </div>
        </form>

    </div>
</div>
</body>
</html>
