<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .wrap {
        width: 100%;
    }
    
    .win {
        color: green;
    }
    
    .lose {
        color: red;
    }
</style>

<body>

<div class="wrap">
    <a href="/?account={{ account.name }}&region={{ account.region }}">Back</a>
    <h3 align="center">{{ account.name }} <i>({{ account.summoner_level }})</i></h3>

    <div align="center">
        <div>Leagues:</div>
        {% for smlg in account.summonerleague_set.all %}
            <div>
                <strong>{{ smlg.league.tier|title }} {{ smlg.league.rank }}</strong>
                ({{ smlg.league.name|title }}, {{ smlg.league.queue_type }})
                <strong class="win">{{ smlg.wins }}</strong> wins / <strong class="lose">{{ smlg.losses }}</strong> losses
            </div>
        {% endfor %}
    </div>

    <h3 align="right">
        <button>
            <a href="{{ request.get_full_path }}&update">Update</a>
        </button>
    </h3>


    <div>
        {% for current_match_player in account.get_matches_players %}
            <strong>
                {% if current_match_player.win %}
                    <span class="win">Victory</span>
                {% else %}
                    <span class="lose">Defeat</span>
                {% endif %}
            </strong>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    {% for match_player in current_match_player.match.matchplayer_set.all %}
                        <strong>
                            <a href="{% url 'info' %}?account={{ match_player.account.name }}&region={{ match_player.account.region }}">
                                {{ match_player.account.name }}
                            </a>
                        </strong>:
                        <strong>{{ match_player.champion.name }}</strong>
                        &ndash;
                        <span>
                            {% if not match_player.role.lower == 'none' %}
                                {{ match_player.role.capitalize }}, {{ match_player.lane.lower }}
                            {% else %}
                                {{ match_player.lane.capitalize }}
                            {% endif %}
                        </span>
                        <br>
                    {% endfor %}
                </div>
                <span>(<i>{{ current_match_player.match.get_time }}</i>)</span>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>

</body>
</html>
