<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .wrap {
        width: 100%;
    }
</style>

<body>

<div class="wrap">
    <a href="/?acc={{ account.name }}&reg={{ account.server }}">Back</a>
    <h3 align="center"><strong>{{ account.name }}</strong></h3>

    <div align="center">
        <div>Leagues:</div>
        {% for smlg in account.summonerleague_set.all %}
            <div>
                <strong>{{ smlg.league.tier|title }} {{ smlg.league.rank }}</strong>
                ({{ smlg.league.name|title }}, {{ smlg.league.queue_type }})
                <strong>{{ smlg.wins }}</strong> wins / <strong>{{ smlg.losses }}</strong> losses
            </div>
        {% endfor %}
    </div>

    <div>
        {% for match in account.get_matches %}
            <div style="display: flex; justify-content: space-between;">
                <div>
                    {% for match_player in match.matchplayer_set.all %}
                        <strong>{{ match_player.account.name }}</strong>:
                        <strong>{{ match_player.champion.name }}</strong>
                        &ndash;
                        <span>
                            {% if not match_player.role.lower == 'none' %}
                                {{ match_player.role.capitalize }}, {{ match_player.lane.lower }}
                            {% else %}
                                {{ match_player.lane.capitalize }}
                            {% endif %}
                        </span>
                        <br>
                    {% endfor %}
                </div>
                <span>(<i>{{ match.get_time }}</i>)</span>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>

</body>
</html>